@import "tailwindcss";
@import "@fontsource/nunito";
@custom-variant hover (&:hover);
@theme {
  --font-nunito: "Nunito", sans-serif;
  --color-main-red: #c7365f;
  --color-bg-purple: #61206e;
  --color-bg-red: #a12d25;
  --color-dark-text: #222;
  --color-winner-bg: #1a1a1a;
  --color-glass-white: rgba(255, 255, 255, 0.4);
  --color-active-white: rgba(255, 255, 255, 0.5);
}
@layer base {
  html {
    font-size: 62.5%;
  }
  body {
    font-family: var(--font-nunito);
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
@layer components {
  .section-shape {
    @apply flex-1 flex flex-col items-center text-center p-8 pt-20 md:p-16 md:pt-[10rem];
    .name {
      @apply text-3xl md:text-5xl font-[700] uppercase tracking-widest mb-4 md:my-[0_3rem];
    }
    .score {
      @apply text-main-red font-[500] text-4xl md:text-8xl;
    }
    .current {
      @apply bg-main-red rounded-2xl text-white p-4 md:p-8 w-[70%] md:w-1/2 text-2xl md:text-4xl mx-auto mt-auto mb-10 md:my-[10rem_0] transition-colors duration-300 opacity-95;
      .current-label {
        @apply text-sm md:text-xl uppercase mb-1;
      }
    }
  }
  .btn-shape {
    @apply rounded-full bg-white/60 px-6 py-2 md:px-10 md:py-4 text-xl md:text-3xl text-[#444] 
           backdrop-blur-lg absolute left-1/2 -translate-x-1/2 enabled:cursor-pointer 
           enabled:transition-colors enabled:transition-transform enabled:duration-200 shadow-lg
           enabled:hover:scale-95 enabled:hover:bg-white enabled:active:translate-y-1 disabled:cursor-not-allowed;
  }
  .player {
    @apply transition-colors duration-300;
  }
  .player--active {
    @apply bg-active-white;
    .name {
      @apply font-[700];
    }
    .current {
      @apply opacity-100;
    }
  }
  .player--winner {
    @apply bg-winner-bg;
    .name {
      @apply text-main-red;
    }
  }
  .hidden {
    @apply scale-0 pointer-events-none;
  }
}
